a{
    text-decoration: none !important;
}

.btn-body{
    height:60px;
    width: 60px;
    border-radius: 20px;
    color: #E6E6FA;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    margin:5px auto ;
    transition: all 0.5s ease;
}

.btn-body.active{
    background-color:#662d91;
    color: #f76d6d;
    transform: scale(1.05);
}

.btn-body:hover{
    color:#adaaa8;
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 12px;
}